<!DOCTYPE html>
<html>
  <head>
  	<title>Lista Categoria</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/css/style.css">
	
	</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	    	<a class="navbar-brand">Cine<span>Romero</span></a>
	    	<form action="#" class="searchform order-sm-start order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search" name="stringFind"
			id="stringFind" size="50" th:value="${keyword}">
            <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
          </div>
        </form>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
				<li class="nav-item"><a th:if="${#authentication.principal.role == 'ADMIN'}" th:href="@{/categoria/add}"  class="nav-link">Añadir Categoria</a></li>
				<li class="nav-item"><a th:if="${#authentication.principal.role == 'ADMIN'}" th:href="@{/articulo/add}"  class="nav-link">Añadir Pelicula</a></li>
	        	<li class="nav-item active"><a th:href="@{/categoria/list}" class="nav-link">Lista de Categorias</a></li>
	        	<li class="nav-item"><a th:href="@{/articulo/list}" class="nav-link">Lista de Artículos</a></li>
	          	<li class="nav-item"><a th:href="@{'/usuario/update'(username=${#authentication.principal.username})}" class="nav-link">Modificar tus datos</a></li>
				<li class="nav-item"><a th:if="${#authentication.principal.role == 'ADMIN'}" th:href="@{/usuario/list}"  class="nav-link">Lista de Usuarios</a></li>
				<li class="nav-item"><a class="nav-link" th:text=${#authentication.name}></a></li>
				<li class="nav-item"><a th:href="@{/articulo/carrito}"  class="nav-link"><img src="/img/carrito-de-compras.png" width="40px" height="40px"></a></li>
				<li class="nav-item"><a th:href="@{/logout}" class="nav-link">Log Out</a></li>
				
			</ul>
	      </div>
	    </div>
	  </nav>
<div class="container">
<form class="form-horizontal" th:action="@{/categoria/delete/submit}"
		th:object="${category}" th:method="POST">
		<fieldset>

			<!-- Form Name -->
			<legend>Delete Category</legend>

			<!-- Text input-->
			<input type="number" th:field="*{id}" readonly required>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="name">genres</label>
				<div class="col-md-4">
					<input id="name" name="name" type="text"
						class="form-control input-md" th:field="*{genres}" readonly required>

				</div>
			</div>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="name">description_category</label>
				<div class="col-md-4">
					<input id="name" name="name" type="text"
						class="form-control input-md" th:field="*{descriptionCategory}" readonly required>

				</div>
			</div>

			

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="addItem"></label>
				<div class="col-md-4">
					<button id="addItem" name="addItem" class="btn btn-primary">Delete
						Item</button>
					<a href="/articulo/list"><button type="button"
							class="btn btn-danger">Cancel</button></a>
				</div>
			</div>

		</fieldset>
	</form>
</div>

</body>
</html>