<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- Bootstrap CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<script>
	function validatePassword() {
		if (document.getElementById('pass1').value == document
				.getElementById('pass2').value) {
			document.getElementById('error').hidden = true;
			document.getElementById('send').disabled = false;
		} else {

			document.getElementById('error').hidden = false;
			document.getElementById('send').disabled = true;
		}
	}
</script>
<body>

	<section class="vh-100 bg-image"
		>
		<div class="mask d-flex align-items-center h-100 gradient-custom-3">
			<div class="container h-100">
				<div
					class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="card" style="border-radius: 15px;">
							<div class="card-body p-5">
								<h2 class="text-uppercase text-center mb-5">Create an
									account</h2>

								<form class="form-horizontal" action="#" th:action="@{/sing_up/submit}" 
	  th:object="${user}"  onsubmit="verificarPasswords(); return false">

									<div class="form-outline mb-4">
									<label class="form-label" for="form3Example1cg">Your Name</label>
										<input type="text" id="form3Example1cg"
											class="form-control form-control-lg"  th:field="*{username}" name="user"/>
									</div>
									
									<label class="form-label" for="form3Example3cg">Your Email</label>
									<div class="form-outline mb-4">
										<input type="email" id="form3Example3cg"
											class="form-control form-control-lg" th:field="*{email}" name="email"/>
									</div>


										<label class="form-label" for="form3Example4cg">Password</label>
									<div class="form-outline mb-4">
										<input type="password" id="pass1"
											class="form-control form-control-lg" th:field="*{password}" name="password"/> 
									</div>
									<!-- Password input
									
										<div class="form-outline mb-4">
											<input id="pass2" name="repeatpassword" type="password"
												placeholder="" class="form-control form-control-lg"  for="form3Example4cg" required
												onchange="validatePassword();"><label
											class="form-label" for="form3Example4cg"> Repeat Password</label> <span hidden="true"
												id="error">La contrasena no coincide</span>
										</div>
									</div>-->

									<div class="form-check d-flex justify-content-center mb-5">
										<input class="form-check-input me-2" type="checkbox" value=""
											id="form2Example3cg" /> <label class="form-check-label"
											for="form2Example3g"> I agree all statements in <a
											href="#!" class="text-body"><u>Terms of service</u></a>
										</label>
									</div>

									<div class="d-flex justify-content-center">
										<button type="submit"
											class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
									</div>

									<p class="text-center text-muted mt-5 mb-0">
										Have already an account? <a href="#!"
											class="fw-bold text-body"><u>Login here</u></a>
									</p>

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>